# Dependencies
node_modules/
.pnp
.pnp.js

# Docs file
docs/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
.next/
build/
dist/
out/

# Upload directory
uploads/*
!uploads/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Uploads
uploads
backend/uploads